DATABASE_URL=postgresql://{USERNAME}:{PASSWORD}@{HOSTNAME}:{PORT}/postgres

NEXT_PUBLIC_GOOGLE_API_KEY=YOUR_MAPS_JAVASCRIPT_API_KEY_HERE
GOOGLE_GEOCODING_API_KEY=YOUR_GEOCODING_API_KEY_HERE

SUPABASE_URL=YOUR_SUPABASE_PROJECT_URL_HERE
SUPABASE_IMG_URL=YOUR_SUPABASE_STORAGE_IMAGE_FOLDER_URL_HERE
SUPABASE_API_KEY=YOUR_SUPABASE_FULL_ACCESS_API_KEY_HERE

NEXT_PUBLIC_SUPABASE_URL=YOUR_SUPABASE_PROJECT_URL_HERE
NEXT_PUBLIC_SUPABASE_API_KEY=YOUR_SUPABASE_PUBLIC_API_KEY_HERE

EMAIL_SALT=A_RANDOM_STRING_OF_LETTERS_AND_NUMBERS_HERE_-_MASH_YOUR_KEYBOARD