@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

/* tabs */
.react-tabs__tab-list {
  border-bottom: none !important;
}
.react-tabs__tab {
  border: none !important;
  color: #343758 !important;
}

.react-tabs__tab--selected {
  border-bottom: 2px solid #343758 !important;
  width: calc(100% / 3);
  display: flex;
  align-items: column;
  justify-content: center;
}
.react-tabs__tab--selected:focus-visible {
  outline: none;
}

.background-container {
  background-image: url("./public/bg.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 90px);
}

.bg-toast-red {
  background-color: #e74c3c;
}
